<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | Calculus Gaming Indonesia</title>
    
    <script>
      MathJax = { tex: { inlineMath: [['$', '$'], ['\\(', '\\)']] } };
    </script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    <style>
    body { 
        font-family: Arial, sans-serif; 
        line-height: 1.6; 
        margin: 40px auto; 
        max-width: 800px; 
        padding: 0 20px; 
        text-align: justify; /* Tambahkan baris ini */
    }
    a { color: #0366d6; text-decoration: none; }
    a:hover { text-decoration: underline; }
</style>
</head>
<body>
    <header>
        <h2><a href="/">Calculus Gaming Indonesia</a></h2>
        <hr>
    </header>

    <main>
        {{ content }}
    </main>
</body>
</html>
